.container {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;

  /* @media (max-width: 1024px) {
    padding: 20px;
  } */
}

.header {
  display: flex;
  align-items: center;
  gap: 10px;
  height: 88px;
  padding: 0 24px;
  font-family: var(--font-itim);
  font-size: 24px;
  color: var(--color-pink);
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 48px 24px 92px;
  background-color: var(--color-light-gray);
}

.title {
  text-align: center;
  font-family: var(--font-days);
  font-size: 32px;
  color: var(--color-title-purple);
  margin-bottom: 40px;
}

.description {
  text-align: center;
  font-family: "Helvetica", "Arial", sans-serif;
  font-size: 20px;
  line-height: 32px;
  color: var(--color-dark-gray);
  margin-bottom: 90px;
}

.slider {
  background-color: var(--color-light-pink);
}

.feedback {
  display: flex;
  flex-direction: column;
  padding: 40px 20px;
  gap: 40px;
}
