.container {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  background-color: var(--color-light-gray);
  font-family: var(--font-poppins);
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 70px 0 48px;
  font-family: var(--font-itim);
  font-size: 24px;
  color: var(--color-pink);
}

.title {
  text-align: center;
  font-size: 22px;
  color: var(--color-title-purple);
  margin-bottom: 20px;
}

.input {
  display: flex;
  position: relative;
  flex-direction: column;
  gap: 8px;
  font-family: var(--font-poppins);
  margin: 0 20px 50px;
}

.inputField {
  display: flex;
  padding: 15px 44px 15px 20px;
  border: 1px solid #d8d8d8;
  border-radius: 9px;
}

.selectField {
  display: flex;
  padding: 15px 20px;
  border: 1px solid #d8d8d8;
  border-radius: 9px;
}

.buttons {
  display: flex;
  justify-content: space-between;
}

.inputIcon {
  position: absolute;
  right: 15px;
  top: 44px;
}

.photos {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 0 20px;
  font-size: 14px;
}

.profilePhotos {
  font-family: var(--font-poppins);
  font-size: 20px;
  line-height: 30px;
  font-weight: 500;
}

.profilePhotos span{
  opacity: 0.6;
}

.imageContainer {
  display: grid;
  grid-template-areas:
    "item1 item1 item2"
    "item1 item1 item3"
    "item4 item5 item6";
  grid-gap: 14px;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 100px;
  padding: 20px;
  margin-bottom: 20px;
}

.imageItem {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  font-weight: bold;
  border-radius: 8px;
  border: 1px dashed var(--color-pink);
}

.item1 {
  grid-area: item1;
}

.item2 {
  grid-area: item2;
}

.item3 {
  grid-area: item3;
}

.item4 {
  grid-area: item4;
}

.item5 {
  grid-area: item5;
}

.item6 {
  grid-area: item6;
}
